* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.grid-container {
  display: block;        /* não mais grid */
  width: 60%;            /* ocupar 60% da tela */
  margin: 0 auto;        /* centralizar horizontalmente */
  padding: 20px 0;       
}

.container {
  width: 100%;
  /* max-width: 400px; */
  max-width: none;      
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.resultado {
  margin-top: 25px;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.section-container {
  grid-column: span 1;
  width: 100%;           
  border: 2px solid #888;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
}

.section-container legend {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 8px;
}